/*
色：
Primary : #1b5e20
Light : #4c8c4a
Dark : #003300
*/

a {
    color:#4c8c4a;
}
a:hover {
    color:#1b5e20;
}

/* ヘッダー */
.header-area {
    background-color:#1b5e20;
}
.header-area .logo-text {
    display: inline-block;
    padding:1rem;
    font-weight: bold;
}
.header-area .logo-text a {
    color:#ffffff;
    text-decoration: none;
}
.header-area .logo-text a:hover {
    color:#ffffff;
    text-decoration: none;
}

/* 主エリア */
.main-area {
    margin-top:2rem;
}

/* articleの日付やタグの情報 */
.article-info {
    color:#757575;
    margin-bottom: 1.5rem;
}
.article-info img {
    width: 1.4rem;
    height: 1.4rem;
    display:inline-block;
    vertical-align: middle;
}
.article-info span {
    padding-right:2rem;
}

/* articleの中 */
article img {
    max-width: 100%;
}

/* 一覧で見るときのarticle */
.article-summary {
    margin-bottom : 1rem;
}

/* 右側 */
.side-bar-title {
    font-weight: bold;
}
.postlist li {
    list-style: none;
}

/* タグ一覧 */
.taglist li {
    display: inline-block;
    padding-right: 1rem;
}

/* フッター */
.f-author-container {
    display: flex;
}
.f-avatar {
    width: 100px;
    height: 100px;
}
.f-avatar img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.f-author {
    flex: 1;
    padding-left :1rem;
}
.f-author p {
    margin : 0;
}
.f-author-name {
    font-size: 3rem;
}