[submodule "themes/pickles"]
	path = themes/pickles
	url = https://github.com/mismith0227/hugo_theme_pickles.git
[submodule "themes/suri"]
	path = themes/suri
	url = https://github.com/vicugna-pacos/hugo-theme-suri.git
