.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
	list-style: none;
	-webkit-justify-content: center;
	justify-content: center;
}
  
.page-item {
	padding : 1rem 1rem;
	font-size : 2rem;
}
.page-item.active {
	font-weight: bold;
}
