
{{ define "main" }}
<div class="content-container">
  <div class="page-list">
    <ul>
      {{ range site.Sections.ByTitle }}
      <li>{{ .Title }}</li>
      <ul>
        {{ range .Pages }}
        {{/* 2階層目もセクションの場合 */}}
        {{ if .IsSection }}
        <li>{{ .Title }}</li>
        <ul>
          {{ range .Pages }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
        {{/* 普通のページの場合 */}}
        {{ if not .IsSection }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
        {{ end }}
      </ul>
      {{ end }}
    </ul>
    </div>
</div>
{{ end }}
